<div id="filtering">
  <div id="filters">
    <a id="expander" href="javascript:;">Filters</a>
      <div id="current_filters">
    <% filters_present do %>
      Applied filters: <%= current_filters %>
      <%= link_to("Reset", :reset => 1) %>
    <% end -%>
      </div>
  </div>
  <div id="form" style="display:none;">
    <% form_tag({}, {:method => :get}) do %>
      <%= hidden_field_tag(:reset, 1) %> 
      <table class="search">
        <tr>
          <th><label for="url">URL:</label></th>
          <td colspan="2"><%= select_tag("url", '<option value="">- All -</option>'+options_from_collection_for_select(@urls, "url", "url", list_params[:url])) %> </td>
        </tr>
        <% each_data_column do |k| %>
          <tr>
            <th><label for="<%=k %>"><%= k.to_s.titleize %>:</label></th>
            <td colspan="2"><%= text_field_tag(k, list_params[k]) %></td>
          </tr>
        <% end %>
        <tr>
          <td>&nbsp;</td>
          <td><%= filter_actions_tag %></td>
          <td><a href="javascript:close();">Close</a></td>
        </tr>
      </table>
    <% end -%>
  </div>
  <div id="x_filters">
    <a id="x_expander" href="javascript:;">Export</a>
  </div>
  <div id="x_form" style="display:none;">
    <% form_tag(form_datas_path, {:method => :get}) do %>
    <%= list_params.map {|k,v| hidden_field_tag(k, v) }.join %>
      <table class="export">
        <tr><td colspan='2'>Choose the columns you want to export:</td></tr>
        <% export_columns.each do |ec| %>
        <tr>
          <th><%= check_box_tag "export_#{ec}", ec, true %></th>
          <td><label for="export_<%= ec %>"><%= ec.capitalize %></label></td>
        </tr>
        <% end %>
        <tr>
          <th><%= check_box_tag "include_all", "yes" %></th>
          <td><label for="include_all">Include allready exported</label></td>
        </tr>
        <tr><td class="sep" colspan="2">Choose the format:</td></tr>
        <tr>
          <th><%= radio_button_tag "format", "csv" %></th>
          <td><label for="format_csv">Comma separated values (CSV)</label></td>
        </tr>
        <tr>
          <th><%= radio_button_tag "format", "xls", true %></th>
          <td><label for="format_xls">Microsoft Excel Sheet (XLS)</label></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <%= submit_tag("Export") %>
            <a href="javascript:closeX();">Close</a>
          </td>
        </tr>
      </table>
    <% end -%>
  </div>
</div>
<div id="results">
  <table class="results">
    <thead>
      <tr class="grey_bg">
        <th colspan="<%=data_columns.size + 4 %>">
          <div><%= page_entries_info @saved_items %>:</div> 
          <%= @pagination = will_paginate @saved_items %>
        </th>
      </tr>
      <tr>
        <th class="created_at"><%= sortable_column_head("Created at", :created_at) %></th>
        <th class="url"><%= sortable_column_head("URL", :url) %></th>
        <% each_data_column do |k| %>
        <th><%= sortable_column_head("#{k.to_s.titleize}", k) %></th>
        <% end -%>
        <th class="url"><%= sortable_column_head("Exported", :exported) %></th>
        <th>Data</th>
      </tr>
    </thead>
    <tfoot>
      <tr class="grey_bg">
        <th colspan="<%=data_columns.size + 4 %>"><%= will_paginate @saved_items %></th>
      </tr>
    </tfoot>
    <tbody>
        <% @saved_items.each do |si| %>
        <tr>
          <td><%= date_format(si.created_at) %></td>
          <td><%= si.url %></td>
            <%= data_columns.map {|k| "<td>#{si.send(k)}</td>"} %>
          <td><%= si.exported ? date_format(si.exported) : 'no' %></td>
          <td><%= link_to_function "Show", "$('blob-contents').update('#{escape_javascript(si.blob)}'); $('blob-popup').show();" %></td>
        </tr>
        <% end -%>
        <% if @saved_items.empty? %>
          <tr><td colspan="<%= data_columns.size + 2 %>">No results!</td></tr>
        <% end %>
    </tbody>
  </table>
</div>

<% content_for :popups do %>
  <div id="blob-popup" class="popup" style="display:none">
    <h3>Blob</h3>
    <div id="blob-contents-wrap">
      <pre id="blob-contents"></pre>
    </div>
    <p>
      <%= link_to 'Close', '#', :class => 'close', :onclick => "$(this).up('.popup').hide(); return false;" %>
    </p>
  </div>
<% end -%>