#show.clearfix
  %h2 Form Data
  .left
    %h3 Details
    %table.result
      - data_columns.each do |dc|
        %tr
          %th= dc.to_s.capitalize
          %td= @form_data.send(dc)
    = link_to_function "Show sent e-mail", "$('blob-contents').update('#{escape_javascript(@form_data.blob)}'); $('blob-popup').show();"
  .right
    %h3 Attachments
    - unless @form_data.form_data_assets.empty?
      %table.attachments
        %tr.grey_bg
          %th Field Name
          %th Link
          %th Thumbnail
        - @form_data.form_data_assets.each do |att|
          %tr
            %td= att.field_name.blank? ? "Field:" : att.field_name.capitalize
            %td
              = link_to att.attachment_file_name, att.attachment.url
            - if att.image?
              %td
                = image_tag att.attachment.url(:thumb)
            - else
              %td &nbsp;
= render :partial => "popups"